[[source]]
name = "pypi"
url = "https://${NEXUS_PYPI_USER}:${NEXUS_PYPI_PASSWORD}@${NEXUS_HOST}/repository/pypi/simple"
verify_ssl = true

[packages]
Appium-Python-Client = "*"
selenium = "*"  # In class By in selenium.webdriver.common.by I add constant ACCESSIBILITY_ID = "accessibility id"
flake8 = "*"
pylama = "*"
pytest = "*"
python-dotenv = "*"
types-requests = "*"
pipenv = "*"
environs = "*"
enum34 = "*"

virtualenv = "*"
virtualenv-clone = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
